@import './app.scss';
@import './header.scss';
@import './searchForm.scss';
@import './task.scss';
@import './projectContainer.scss';
@import './projects.scss';
@import './projectHeader.scss';
@import './main.scss';
@import './notFoundPage.scss';
@import './taskContainer.scss';
@import './auth.scss';
@import './profile.scss';
@import './listProject.scss';
@import './createProject.scss';
@import './slider.scss';
@import './project.scss';
@import './postProject.scss';
@import './teamProject.scss';
@import './select.scss';
@import './createTask.scss';
@import './modalEditAvatar.scss';
@import './input.scss';
@import './inputSelect.scss';
@import './option.scss';
@import './deadline.scss';
@import './forgetPassword.scss';

