@import '../utils/mixins.scss';
@import "../utils/variable.scss";

.auth {
  max-width: 1440px;
  display: flex;
  height: calc(100vh - 160px);
  padding: 80px;
  margin: auto;
  gap: 80px;

  &__block {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__block_right {
    display: block;
    max-width: 600px;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }

  &__container_left {
    background-color: $secondColor;
    border-radius: 40px;
  }

  &__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 43px;
  }

  &__logo {
    margin-bottom: 120px;
  }
  
  &__form {
    width: 484px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 24px;
  }
  
  &__input {
    width: calc(100% - 16px);
    height: 56px;
    border: 1px solid #8A8A8A66;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #8A8A8A;
    padding: 0 0 0 16px;
    outline: none;
  }

  &__input {
    width: calc(100% - 16px);
    height: 56px;
    border: 1px solid #8A8A8A66;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #2F261B;
    padding: 0 0 0 16px;
    outline: none;

    &::placeholder {
      color: #8A8A8A;
    }

    &:focus {
      border: 1px solid #9D8E80;
    }
  }

  &__input_type_password {
    border: none;

    &:focus {
      border: none;
    }
  }

  &__input-wrap {
    width: 100%;
    height: 56px;
    background: white;
    border: 1px solid #8A8A8A66;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #8A8A8A;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:focus {
      border: 1px solid #9D8E80;
    }
  }

  &__visibility-button {
    margin: 0 16px;
    width: 24px;
    height: 24px;
    background: url(../../images/icon-show.svg) no-repeat center center;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
  
  &__submit-button {
    padding: 0;
    border: none;
    outline: none;
    background: #F8D57E;
    border-radius: 100px;
    width: 100%;
    height: 56px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #2F261B;
    cursor: pointer;
    margin-bottom: 40px;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      background: #DEDEDE;
      color: #8A8A8A;
      cursor: auto;
    }

    &:disabled:hover {
      opacity: 1;
    }
  }

  &__bottom {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #2F261B;
    margin-bottom: 80px;
  }
  
  &__bottom:hover {
    opacity: 0.7;
  }
  
  &__error {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #FF4062;
    display: none;
  }

  &__agree {
    width: 488px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #9D8E80;
    text-align: center;
  }

  &__agree-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #2F261B;    
  }
}
