.createProject {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  right: 0;
  transform: translateX(-100%);

  &__active {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    right: 0;
    width: 480px;
    height: 100%;
    z-index: 100;
    background-color: white;
  }

  &__wrap {
    max-width: 868px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 40px;
    color: #8a8a8a;
  }

  &__info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 0;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin-right: 15px;
    font-weight: 500;
    outline: none;
    border: none;
    color: #8A8A8A;
  }
  &__date {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
    color: #7f7e88;
    text-align: left;
  }

  &__content {
    padding: 0 40px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__avatar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
  &__container {
    margin-top: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8A8A8A;
    &:hover {
        color: black;
    }
  }

  &__container-btn {
    width: 400px;
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 12px;
  }
  &__submit-btn {
    width: 400px;
    border: none;
    height: 53px;
    border-radius: 15px;
    background-color: #f1f1f1;
    color: black;
    font-size: 20px;
    cursor: pointer;

    &:disabled{
      background-color: #F1F1F1;
      opacity: 0.5;
    }
    &:enabled {
      background-color: #F8D57E;
      transition: 0.3;
    }
    &:enabled:hover {
      background-color: #FFE9B2;
      transition: 0.3;
    }
  }
  &__cancel-btn {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    background: url(../../images/close.svg) no-repeat right;

    &:hover {
      opacity: 0.5;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 6px;
    font-weight: 500;
  }

  &__input {
    width: 240px;
    height: 15px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding-left: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
    &:focus {
      outline: none;
    }
  }

  &__container-creator {
    margin-top: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 120px;
    color: #8A8A8A;
    &:hover {
        color: black;
    }
  }

  &__creator {
    display: flex;
    align-items: center;
    padding-right: 60px;
    gap: 8px;
  }
  &__creator-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: 1px solid #EAE2DA;
  }

  &__creator-name {
    height: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 8px;
  }
}
