@import "../utils/mixins.scss";

.header {
	margin: 0;
	background-color: #fafafa;
	min-width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__hidden {
		visibility: hidden;
	}

	&__container {
    @include reset;
	}

	&__title {
		@include text-format(500, 24px, 29px);
		@include text;
		margin: 0;
		color: black;
	}

	&__link-container {
		display: flex;
		gap: 10px;
	}

	&__options {
		width: 24px;
		height: 24px;
		background: transparent;
		margin: auto;

		&:hover {
			opacity: 0.8;
			transition: opacity 0.3s linear 0s;
		}
	}
	&__options-icon {
		width: 24px;
		height: 24px;
		object-fit: cover;
	}

	&__avatar-profile {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: transparent;

		&:hover {
			opacity: 0.8;
			transition: opacity 0.3s linear 0s;
		}
	}

	&__avatar-icon {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		object-fit: cover;
	}
}
