.listProject {
  height: 90%;
  margin-top: 50px;
  border-radius: 40px;
  background: #f5f1ed;
  padding: 60px 30px;

  &__create {
    width: 56px;
    height: 56px;
    border-radius: 72px;
    background: #f8d57e;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__create-btn {
    border: none;
    text-align: center;
    width: 32px;
    height: 32px;
    background: url(../../images/add.svg) no-repeat center;
    object-fit: contain;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__content {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 240px;
  }

  &__container {
    width: 100%;
    border-radius: 16px;
    height: 158px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    list-style-type: none;

    &:hover {
      background: #9A7F6633;
    }
  }

  
}
