.main {
  max-width: 1280px;
  justify-self: center;

  &__container {
    background: #F5F1ED;
    border-radius: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100%;
    overflow: visible;
  }
}
