.profile {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 64px;
	right: 0;
	transform: translateX(-100%);

	&__active {
		position: fixed;
		display: flex;
		flex-direction: column;
		transform: translateX();
		right: 0;
		height: 960px;
		top: 64px;
		z-index: 100;
	}

	&__wrap {
		max-width: 868px;
		width: 100%;
		text-align: right;
		display: flex;
		padding-left: 30px;
		border-bottom: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-top: 1px solid #d9d9d9;
	}

	&__title {
		height: 24px;
		font-size: 28px;
		line-height: 24px;
		margin-right: 15px;
		font-weight: 500;
	}
	&__status {
		margin-top: 18px;
		font-size: 14px;
		line-height: 24px;
		color: #7f7e88;
		text-align: center;
	}

	&__content {
		padding-left: 30px;
		padding-bottom: 30px;
		position: relative;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-left: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
	}

	&__avatar {
		padding-top: 30px;
		padding-bottom: 15px;
		width: 100px;
		height: 100px;
		object-fit: cover;
	}

	&__info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px 20px;
	}
	&__container {
		width: 380px;
	}
	&__container-check {
		position: absolute;
		top: 30px;
		right: 40px;
		display: flex;
		align-items: center;
		gap: 5px;
	}
	&__check-email {
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		color: #7f7e88;
		cursor: pointer;
	}
	&__input-check {
		width: 24px;
		height: 24px;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
	}

	&__container-work {
		width: 796px;
		padding-top: 10px;
	}

	&__container-timezone {
		width: 796px;
		padding-top: 40px;
	}

	&__container-btn {
		padding-top: 20px;
		display: flex;
		gap: 15px;
	}
	&__submit-btn {
		width: 147px;
		border: none;
		height: 53px;
		border-radius: 15px;
		background-color: #d9d9d9;
		color: black;
		padding-right: 20px;
		cursor: pointer;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.5;
		}
	}
	&__cancel-btn {
		width: 147px;
		height: 53px;
		border: none;
		border-radius: 15px;
		background-color: #d9d9d9;
		color: black;
		cursor: pointer;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.5;
		}
	}

	&__subtitle {
		font-size: 18px;
		line-height: 24px;
		margin: 0 0 6px;
		font-weight: 500;
	}

	&__input {
		width: calc(100% - 50px);
		height: 40px;
		font-size: 14px;
		border-radius: 15px;
		border: 1px solid #7f7e88;
		padding-left: 10px;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}
	}
}
