.project {
    margin: 0;
    height: 75px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    cursor: pointer;

    &:hover {
      background: #9A7F6633;
    }
  

  &__list-name {
    padding: 0 32px;
    max-width: 480px;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;

  }

  &__list-status-active {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 125px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #F8D57E66;;
    background: #F8D57E66;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__list-status-close {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 125px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #F1F1F1;
    background: #F1F1F1;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
}
