@import "../utils/mixins.scss";

.search-form {
	width: 640px;
	height: 30px;
	padding: 10px 16px 0;
	border: 1px solid #9D8E80;
	border-radius: 40px;

	&__container {
		margin: 0;
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__icon {
		background-image: url("../../images/search.svg");
		background-repeat: no-repeat;
		width: 18px;
		height: 18px;
	}

    &__input {
        width: 90%;
       border-bottom: 1px solid #9D8E80;
        border: none;
		outline: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
	&__title {
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		color: #9D8E80;
	}
}
