@import "../utils/mixins.scss";

.search-form {
	border: 1px solid #9D8E80;
	border-radius: 8px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	min-width: 640px;
	min-height: 40px;

	&__form {
		width: 100%;
	}

	&__container {
		margin: 0;
		display: flex;
		align-items: center;
		padding: 8px 16px;
		justify-content: space-between;
	}

	&__icon {
		background-image: url("../../images/search.svg");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-position: center;
		&_activate {
			background-image: url("../../images/close-search.svg");
		}
		&_deactivate {
			background-image: none;
		}
	}

	

    &__input {
        width: 100%;
       	border-bottom: 1px solid #9D8E80;
        border: none;
		outline: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
		margin: 0 4px;
		padding: 0;
    }
}
