@import "../utils/mixins.scss";
@import "../utils/variable.scss";

.taskContainer {
  @include reset;
  height: 689px;
  width: 325px;
  background-color: $secondColor;
  border-radius: $borderRadiusTaskContainer;

  &__header {
    @include text-format(500, 24px, 24px)
  }

  &__button {
    @include reset;
    height: 48px;
    width: 277px;
    border: 1px solid #fff;
    border-radius: calc(height / 2);
  }

  &__tasks {
    @include reset;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  
  &__task {
    @include reset;
    list-style: none;
  }
}
