@import "../utils/mixins.scss";
@import "../utils/variable.scss";

.taskContainer {
  @include reset;
  height: 689px;
  min-width: 300px;
  background-color: $secondColor;
  border-right: 2px solid #2F261B1A;

  &:last-child {
    border: none;
    margin: 0;
  }

  &__content {
    height: 689px;
    width: 280px;
    border-radius: $borderRadiusTaskContainer;
  }

  &__header {
    @include text-format(500, 24px, 24px);
    color: $thirdTextColor;
  }

  &__button {
    @include reset;
    @include text-format(300, 20px, 20px);
    height: 96px;
    width: inherit;
    border: 2px dashed $thirdTextColor;
    border-radius: 16px;
    background: transparent;
    margin-bottom: 15px;
    color: $thirdTextColor;
    transition: $hoverTransition;

      &:hover {
        background: $hoverTask;
      }
  }

  &__tasks {
    @include reset;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  
  &__task {
    @include reset;
    width: 100%;
    list-style: none;
    cursor: pointer;
  }
}
